@charset "UTF-8";
@charset "UTF-8";

@font-face {
    font-family: 'TheJamsil3Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'TheJamsil3Regular';} 
ul,ol,li { list-style-type:none; width:100%; display:block; }
ul { height : 100%;}
a { color:#666; text-decoration:none; cursor:pointer;}

input[type=button] { 
	background-color: #7E7DCB;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    cursor:pointer;
    margin: 10px 5px 10px 5px;
    font-size : 1.1em;
}
.wrap {
	width:1000px; height: auto;
	margin : 30px auto;
	padding : 20px 10px 20px 10px;
	text-align : center;
	background-color: white;
}

.top_wrap {
	
	display: flex;
    margin: 15px 0 15px 0;
    align-items:center;
    justify-content: center;
}
.top_wrap a img{
	width : 60px;
	opacity : 90%;
	margin-right:8px;
}
.title {
	width:20%;
	font-size : 1.5em;
	color : #7E7DCB;
	border: 1px solid #7E7DCB;
	padding:15px;
	font-family: 'TheJamsil5Bold';
}
.travel_plan {
	width : 90%;
	height:200px;
	overflow:auto;
	border : 1px solid #7E7DCB;
	padding: 10px;
	font-family: 'TheJamsil2Light';
	display:flex;
	margin-bottom:15px;
}
.day_plan {
	text-align:center;
	overflow:auto;
	width:33%;
}
.day_plan div {
	height: 15%;
	margin:10px;
	padding-bottom:10px;
	border-bottom:1px solid #7E7DCB;
}
.day_plan h4 {
	height: auto;
	margin:10px;
}
.day_plan h5 {
	height: auto;
	margin:10px;
}
textarea {
	width : 90%;
	height : 800px;
	overflow:auto;
	border : 1px solid #7E7DCB;
	padding: 10px;
	font-size : 1.1em;
	font-family: 'TheJamsil2Light';
}
