@charset "UTF-8";

@font-face {
    font-family: 'TheJamsil3Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'TheJamsil3Regular';} 
ul,ol,li { list-style-type:none; width:100%; display:block; }
ul { height : 100%;}
a { color:#666; text-decoration:none; cursor:pointer;}
span { font-size : 0.8em; margin-left: 10px; margin-bottom:2px;}

.Wrap {
	background-color : white;
	display:flex; width:1480px; height: 650px;
	margin : 0 auto;
	padding : 20px 10px 20px 10px;
}
.sch_wrap {
	width:30%; height:100%; 
}
.sch_01 {
	width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.sch_01_L {
	display: grid;
    padding-bottom: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid rgb(126, 125, 203);
    align-items: center;
    border-radius: 50%;
}
.country {
	width: 100%;
    margin-top: 10px;
    font-size: 0.9em;
    opacity: 0.8;
}
.city {
	width: 100%;
    margin-top: -25px;
}
.sch_01_R {
	width: 65%;
    text-align: right;
    padding-top: 15px;
    margin-left: 15px;
}
.day_01 {
	width : 100%;
	border-bottom : 1px solid #7E7DCB;
	padding: 7px;
}
.day_01 a {
	margin-left:10px;
}
.search-input {
	width: 70%;
	padding:10px;
	margin-top : 10px;	
	border:1px solid #ddd;
	border-radius:5px;
}
input[type=button] {
	background-color: #7E7DCB;
    color: white;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    cursor:pointer;
}
.sch_02 {
	width : 100%;
	height:78%;
	padding: 15px;
	overflow:auto;
}
.day_sch_02{
	width : 100%;
}
.sch_02 h3 {
    color: #7E7DCB;
    margin: 7px;
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #CECEF4;
}
.span_wrap {
	font-size :0.7em;
	margin-top: 10px;
}
.span_wrap span {
	color : #666;
	font-size:1.0em;
	margin-left:3px;
}
.tcp {
	display : flex;
	padding-top : 5px;
}
.time {
	width : 30%;
	text-align : center;
}
.content {
	width : 40%;
	text-align : center;
}
.place {
	width : 40%;
	text-align : center;
}
.img_wrap {
	width:40%; height:100%; margin-left : 10px; margin-right:10px;
}
.img_wrap img {
	width : 100%;
	height : 100%;
}
.img_01 {
	height:100%;
	}
.con_wrap {
	width:30%; height:100%;
}
.con_01 {
	height: 10%;
    border-bottom: 1px solid #7E7DCB;
    display: flex;
    align-items: center;
    padding: 15px;
}
.con_01 a {
	padding-left:10px;
}
.con_01 img {
	border-radius : 50%;
	width : 10%;
}
.con_02 {
	height:50%;
	padding:15px;
	border-bottom: 1px solid #7E7DCB;
	overflow:auto;
}
.con_03 {
	height:24%;
	padding:15px;
	overflow:auto;
}
.rep01 {
	display:flex;
	align-items:center;
	margin-bottom:5px;
}
.rep_01 {
	width:20%;
	display:flex;
	align-items:center;
}
.rep_01 a {
	font-size : 0.8em;
	margin-left : 3px;
}
.rep_02 { 
	width : 80%;
	font-size : 0.8em;
}
.con_03 img {
	border-radius : 50%;
	width : 20%;
}
.con_04 {
	height:15%;
	padding : 5px;
}
.rep_icon img{
	margin-top:2px;
	margin-left: 5px;
    width: 30px;
    opacity: 70%;
}
.rep_input {
	width: 82%;
	padding:10px;	
	border:1px solid #ddd;
	border-radius:5px;
}